@model TransformationTimelineTool.Models.Impact

@{
    ViewBag.Title = Resources.CreateNew;
}

<h2>@Resources.CreateNew</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div>
        <h4>@Resources.Impact</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.InitiativeID, Resources.Initiative, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("InitiativeID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.InitiativeID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Level, Resources.Level, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Level", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Level, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 text-right"><strong>@Resources.Branches</strong></div>
            <div class="col-md-offset-2 col-md-10">
                <table>
                    <tr>
                        @{
                            int cnt = 0;
                            List<TransformationTimelineTool.Models.Branch> branches = ViewBag.Branches;

                            foreach (var branch in branches)
                            {
                                if (cnt++ % 3 == 0)
                                {
                                    @:</tr><tr>
                                }
                                @:<td>
                                    <input type="checkbox"
                                           name="selectedBranches"
                                           value="@branch.ID" />
                                        @branch.Name
                                        @:</td>
                            }
                        }
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox"
                                   name="selectAllBranches"
                                   id="selectAllBranches"
                                   value="allBranches" />
                            Deselect/Select All
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 text-right"><strong>@Resources.Regions</strong></div>
            <div class="col-md-offset-2 col-md-10">
                <table>
                    <tr>
                        @{
                            int cnt2 = 0;
                            List<TransformationTimelineTool.Models.Region> regions = ViewBag.Regions;

                            foreach (var region in regions)
                            {
                                if (cnt2++ % 3 == 0)
                                {
                                    @:</tr><tr>
                               }
                                @:<td>
                                    <input type="checkbox"
                                           name="selectedRegions"
                                           value="@region.ID" />
                                        @region.Name
                                        @:</td>
                           }
                        }
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox"
                                   name="selectAllRegions"
                                   id="selectAllRegions"
                                   value="allRegions" />
                            Deselect/Select All
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="form-actions no-color">
            <input type="submit" value="@Resources.Submit" class="btn btn-default" /> |
            @Html.ActionLink(Resources.BackToList, "Index")
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script src="~/Scripts/toggleRegionsBranches.js" type="text/javascript"></script>
    <script src="~/Scripts/front-end-custom-validation.js" type="text/javascript"></script>
}
