@model TransformationTimelineTool.Models.Impact
@using TransformationTimelineTool.Helpers
@{
    ViewBag.Title = Resources.Delete;
}

<h2>@Resources.Delete</h2>

<h3>@(Resources.DeleteConfirm + " " + Resources.Impact.ToLower() + '?')</h3>
<div>
    <h4>@Resources.Impact</h4>
    <dl class="">

        <dt>
            @Resources.Initiative
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Initiative.Name)
        </dd>

        <dt>
            @Resources.Level
        </dt>

        <dd>
            @Utils.GetTranslation(Html.DisplayFor(model => model.Level).ToString())
        </dd>

        <dt>
            @Resources.Branches
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchesList)
        </dd>

        <dt>
            @Resources.Regions
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegionsList)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="@Resources.Submit" class="btn btn-default" /> |
            @Html.ActionLink(Resources.BackToList, "Index")
        </div>
    }
</div>
