@model TransformationTimelineTool.Models.Impact
@using TransformationTimelineTool.Helpers
@{
    ViewBag.Title = Resources.Details;
}

@if(Culture == "fr")
{
    ViewBag.lang = "fra";
}
else
{
    ViewBag.lang = "eng";
}


<h2>@Resources.Details</h2>

<div>
    <h4>@Resources.Impact</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Resources.Initiative
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Initiative.Name)
        </dd>

        <dt>
            @Resources.Level
        </dt>

        <dd>
            @Utils.GetTranslation(Html.DisplayFor(model => model.Level).ToString())
        </dd>

        <dt>
            @Resources.Branches
        </dt>

        <dd>
            @Html.Raw(Model.BranchesList)
        </dd>

        <dt>
            @Resources.Regions
        </dt>

        <dd>
            @Html.Raw(Model.RegionsList)
        </dd>
    </dl>
</div>
<p>
    @if (HttpContext.Current.User.IsInRole("Admin")) {
        @Html.ActionLink(Resources.Edit, "Edit", new { id = Model.ID, lang = ViewBag.lang }) @:|
    }
    @Html.ActionLink(Resources.BackToList + " " + Resources.OfImpacts, "Index", new { lang = ViewBag.lang })
</p>
