@model TransformationTimelineTool.Models.Impact

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Impact</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Initiative
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Initiative.NameE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Justification)
        </dt>

        <dd>
            @Html.Raw(Model.Justification)
        </dd>

        <dt>
            Branches
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchesList)
        </dd>

        <dt>
            Regions
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegionsList)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
