@model TransformationTimelineTool.Models.Impact

@if(Culture == "fr")
{
    ViewBag.lang = "fra";
}
else
{
    ViewBag.lang = "eng";
}


@{
    ViewBag.Title = Resources.Edit;
}

<h2>@Resources.Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div>
        <h4>@Resources.Impact</h4>
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.InitiativeID, Resources.Initiative, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("InitiativeID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.InitiativeID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Level, Resources.Level, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Level", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Level, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group clearfix">
            <div class="no-margin">
                <strong>@Resources.Branches</strong>
                <br />
                @{
                    List<TransformationTimelineTool.ViewModels.BranchesData> branches = ViewBag.Branches;
                    foreach (var branch in branches)
                    {
                        <input type="checkbox" id="select_branches_@branch.ID" name="selectedBranches" value="@branch.ID" @(Html.Raw(branch.Flag ? "checked=\"checked\"" : "")) />
                        <label class="no-style" for="select_branches_@branch.ID">@branch.Name</label>
                        <br />
                    }
                    <input type="checkbox" name="selectAllBranches" id="selectAllBranches" value="allBranches" checked="checked" />
                    <label class="no-style checkbox-label" for="selectAllBranches">@Resources.Deselect/@Resources.SelectAll</label>
                }
            </div>
            <br />
            <div class="no-margin">
                <strong>@Resources.Regions</strong>
                <br />
                @{
                    List<TransformationTimelineTool.ViewModels.RegionsData> regions = ViewBag.Regions;
                    foreach (var region in regions)
                    {
                        <input type="checkbox" id="select_regions_@region.ID" name="selectedRegions" value="@region.ID" @(Html.Raw(region.Flag ? "checked=\"checked\"" : "")) />
                        <label class="no-style checkbox-label" for="select_regions_@region.ID">@region.Name</label>
                        <br />
                    }
                }
                <input type="checkbox" name="selectAllRegions" id="selectAllRegions" value="allRegions" checked="checked" />
                <label class="no-style" for="selectAllRegions">@Resources.Deselect/@Resources.SelectAll</label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Resources.Submit" class="btn btn-default" /> |
                @Html.ActionLink(Resources.BackToList + " " + Resources.OfImpacts, "Index", new {  lang =  ViewBag.lang})
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/ckeditor-custom/ckeditor.js" type="text/javascript"></script>
    <script src="~/Scripts/toggleRegionsBranches.js" type="text/javascript"></script>
    <script src="~/Scripts/front-end-custom-validation.js" type="text/javascript"></script>
}
