@model IEnumerable<TransformationTimelineTool.Models.Impact>
@using TransformationTimelineTool.Helpers
@{
    ViewBag.Title = Resources.Impacts;
}

@if(Culture == "fr")
{
    ViewBag.lang = "fra";
}
else
{
    ViewBag.lang = "eng";
}


@section Styles {
    <link href="@Url.Content("~/Content/table.css")" rel="stylesheet" type="text/css" />
}

<h2>@Resources.Impacts</h2>

<p>
    @Html.ActionLink(Resources.AssignImpact, "Create", new { lang = ViewBag.lang })
</p>
<table class="table">
    <tr>
        <th>
            @Resources.Initiative
        </th>
        <th class="fix-6em">
            @Resources.Level
        </th>
        <th class="control-group">@Resources.Actions</th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Initiative.Name)
        </td>
        <td>
            @Utils.GetTranslation(Html.DisplayFor(modelItem => item.Level).ToString())
        </td>
        <td>
            <a class="no-link-style" href="@Url.Action("Edit", "Impacts", new { id = item.ID, lang = ViewBag.lang })">
                <i title="@Resources.Edit" class="fa fa-pencil-square-o fa-2x"></i>
            </a>
            <a class="no-link-style" href="@Url.Action("Details", "Impacts", new { id = item.ID, lang = ViewBag.lang })">
                <i title="@Resources.View" class="fa fa-eye fa-2x"></i>
            </a>
            <a class="no-link-style" href="@Url.Action("Delete", "Impacts", new { id = item.ID, lang = ViewBag.lang })">
                <i title="@Resources.Delete" class="fa fa-times fa-2x"></i>
            </a>
        </td>
    </tr>
}

</table>