@model TransformationTimelineTool.Models.Branch

@if(Culture == "fr")
{
    ViewBag.lang = "fra";
}
else
{
    ViewBag.lang = "eng";
}


@{
    ViewBag.Title = Resources.Delete;
}

<h2>@Resources.Delete</h2>

<h3>@(Resources.DeleteConfirm + " " + Resources.Branch.ToLower() + "?")</h3>
<div>
    <h4>@Resources.Branch</h4>
    <dl class="dl-horizontal">
        <dt>
            @Resources.EnglishName
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameE)
        </dd>

        <dt>
            @Resources.FrenchName
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameF)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="@Resources.Submit" class="btn btn-default" /> |
            @Html.ActionLink(Resources.BackToList, "Index", new {  lang =  ViewBag.lang})
        </div>
    }
</div>
