@model IEnumerable<TransformationTimelineTool.Models.Branch>

@{
    ViewBag.Title = "Index";
}

@section Styles {
    <link href="@Url.Content("~/Content/table.css")" rel="stylesheet" type="text/css" />
}

<h2>Branches</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameShort)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameF)
        </th>
        <th class="control-group"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameShort)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameF)
        </td>
        <td>
            <a class="no-link-style" href="@Url.Action("Edit", "Branches", new { id = item.ID })">
                <i class="fa fa-pencil-square-o fa-2x"></i>
            </a>
            <a class="no-link-style" href="@Url.Action("Details", "Branches", new { id = item.ID })">
                <i class="fa fa-folder-open fa-2x"></i>
            </a>
            <a class="no-link-style" href="@Url.Action("Delete", "Branches", new { id = item.ID })">
                <i class="fa fa-times fa-2x"></i>
            </a>
        </td>
    </tr>
}

</table>
