@model TransformationTimelineTool.Models.Region

@{
    ViewBag.Title = Resources.Region;
}

<h2>Details</h2>

<div>
    <h4>@Resources.Region</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameShort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameShort)
        </dd>

        <dt>
            @Resources.EnglishName
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameE)
        </dd>

        <dt>
            @Resources.FrenchName
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameF)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Resources.Edit, "Edit", new { id = Model.ID }) |
    @Html.ActionLink(Resources.BackToList, "Index")
</p>
