@model IEnumerable<TransformationTimelineTool.Models.Region>

@{
    ViewBag.Title = "Index";
    ViewBag.isAdmin = HttpContext.Current.User.IsInRole("Admin");
}

@section Styles {
    <link href="@Url.Content("~/Content/table.css")" rel="stylesheet" type="text/css" />
}

<h2>@Resources.Regions</h2>

@if (ViewBag.isAdmin)
{
    <span class="create-new">
        <a class="no-link-style" href='@Url.Action("Create", "Regions")'>
            <i title="@Resources.CreateNew" class="fa fa-plus fa-2x"></i>
        </a>
    </span>
}
<table class="table">
    <tr>
        <th>
            @Resources.ShortName
        </th>
        <th>
            @Resources.EnglishName
        </th>
        <th>
            @Resources.FrenchName
        </th>
        <th class="control-group"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameShort)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameF)
        </td>
        <td>
            @if (ViewBag.isAdmin)
            {
                <a class="no-link-style" href="@Url.Action("Edit", "Regions", new { id = item.ID })">
                    <i title="@Resources.Edit" class="fa fa-pencil-square-o fa-2x"></i>
                </a>
                <a class="no-link-style" href="@Url.Action("Details", "Regions", new { id = item.ID })">
                    <i title="@Resources.Details" class="fa fa-folder-open fa-2x"></i>
                </a>
                <a class="no-link-style" href="@Url.Action("Delete", "Regions", new { id = item.ID })">
                    <i title="@Resources.Delete" class="fa fa-times fa-2x"></i>
                </a>
            }
            else
            {
                <a class="no-link-style" href="@Url.Action("Details", "Regions", new { id = item.ID })">
                    <i title="@Resources.Details" class="fa fa-folder-open fa-2x"></i>
                </a>
            }
        </td>
    </tr>
}

</table>
@if (ViewBag.isAdmin)
{
    <span class="create-new">
        <a class="no-link-style" href='@Url.Action("Create", "Regions")'>
            <i title="@Resources.CreateNew" class="fa fa-plus fa-2x"></i>
        </a>
    </span>
}
