@{
    if (Culture == "fr")
    {
        Layout = "~/Views/Shared/_IntraLayoutFra.cshtml";
        ViewBag.lang = "fra";
        ViewBag.Title = @Resources.ApplicationName + ": Version accessible";
    }
    else
    {
        Layout = "~/Views/Shared/_IntraLayout.cshtml";
        ViewBag.lang = "eng";
        ViewBag.Title = @Resources.ApplicationName + ": Accessible Version";
    }
}
<link href="@Url.Content("~/Content/accessibility.css")" rel="stylesheet" type="text/css" />

<div class="grid-12">
    <div id="tool-introduction" class="span-12">
        @Html.Raw(Resources.AccessibilityIntroduction)
    </div>

    <div id="tool-introduction" class="span-12">
        @Html.Raw(Timeline.InitialFilterAccessible)
    </div>

    <div id="controller-container" class="span-12">
        <form class="form-horizontal">
            <div class="span-2 row-start">
                <label for="nav-controller-timeline" class="font-large">@Resources.Timeline</label>
            </div>
            <div class="span-10 row-end">
                <select id="nav-controller-timeline" data-role="none">
                    <option value="all">@Timeline.ViewAll</option>
                </select>
            </div>
            <div class="clear"></div>
            <div class="span-2 row-start">
                <label for="nav-controller-region" class="font-large">@Resources.Region</label>
            </div>
            <div class="span-10 row-end">
                <select id="nav-controller-region" data-role="none">
                    <option value="all">@Resources.SelectYourArea</option>
                </select>
            </div>
            <div class="clear"></div>
            <div class="span-2 row-start">
                <label for="nav-controller-branch" class="font-large">@Resources.Branch</label>
            </div>
            <div class="span-10 row-end">
                <select id="nav-controller-branch" data-role="none">
                    <option value="all">@Resources.SelectYourBranch</option>
                </select>
            </div>
            <div class="clear"></div>
        </form>
    </div>
    <div id="text-timeline-container" class="span-12">
        <div id="timeline-accordions"></div>
    </div>
</div>

@Html.Partial("~/Views/Partials/Resources.cshtml")
<script src="/Scripts/app/dist/timeline-tool-accessible.js"></script>
<!--<script src="/Scripts/require.js"></script>-->
<!--<script src="/Scripts/require-config.js"></script>-->
<!--<script src="/Scripts/app/timeline-tool-accessible.js"></script>-->
