@{
    if(Culture == "fr")
    {
        Layout = "~/Views/Shared/_IntraLayoutFra.cshtml";
        ViewBag.Title = "Calendrier national des transformations";
        ViewBag.lang = "fra";
    }
    else
    {
        Layout = "~/Views/Shared/_IntraLayout.cshtml";
        ViewBag.Title = "Timeline Tool: Transformation and Blueprint 2020";
        ViewBag.lang = "eng";
    }
}
<div id="timeline">
	<div id="dialog" title="dialog"></div>
	<div class="align-center">
		<i id="timeline-tool-loading-icon" class="fa fa-spinner fa-spin fa-5x"></i>
	</div>
	<div id="timeline-tool" class="hide">
		<div id="timeline-tool-introduction-container">
			<div id="timeline-tool-introduction" class="span-7 margin-bottom-none">
				@Html.Raw(Timeline.About)
			</div>
			<div id="timeline-tool-legend" class="span-1 margin-bottom-none">
				<i class="icon fa fa-2x fa-book training icon-legend"></i><p>@Timeline.Training</p><br />
				<i class="icon fa fa-2x fa-dot-circle-o milestone icon-legend"></i><p>@Timeline.Milestone</p>
			</div>
			<div class="clear"></div>
		</div>
		<div id="timeline-tool-nav-container" class="grid-12">
			<div id="timeline-tool-nav" class="span-12 margin-bottom-none">
				<div id="nav-go-left" class="span-1 align-left margin-top-large margin-bottom-none margin-left-none">
					<i id="nav-go-left-button" class="fa fa-chevron-circle-left fa-3x"></i>
				</div>
				<div class="span-3 margin-top-large margin-bottom-none">
					<select id="nav-controller-timeline" class="margin-top-bottom-5px">
						<option value="all">@Timeline.ViewAll</option>
					</select>
				</div>
				<div class="span-3 margin-top-large margin-bottom-none">
					<select id="nav-controller-region" class="margin-top-bottom-5px">
						<option value="all">@Resources.SelectYourArea</option>
					</select>
				</div>
				<div class="span-4 margin-top-large margin-bottom-none">
					<select id="nav-controller-branch" class="margin-top-bottom-5px">
						<option value="all">@Resources.SelectYourBranch</option>
					</select>
				</div>
				<div id="nav-go-right" class="span-1 align-right margin-top-large margin-bottom-none margin-right-none">
					<i id="nav-go-right-button" class="fa fa-chevron-circle-right fa-3x"></i>
				</div>
				<div id="nav-calendar" class="span-12 margin-top-medium margin-bottom-none" style="overflow: hidden;">
					<div id="nav-calendar-container" style="position: relative; left: 0px;">
						<div id="nav-calendar-quarter">
						</div>
						<div id="nav-calendar-month">
						</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div id="timeline-tool-nav-space"></div>
		<div id="timeline-tool-content-container" class="grid-12">
			<div class="span-12 margin-top-none" style="overflow: hidden;">
				<div id="dynamic-description-container" class="span-12"></div>
				<div id="dynamic-content-container"></div>
			</div>
			<div class="clear"></div>
		</div>
		<div id="timeline-tool-outro-container">
			<div id="timeline-tool-impact-statements" class="span-7 margin-bottom-none">
				<div class="impact-statement-box high-impact-color"></div>
				@Timeline.HighImpact
				<br />
				<div class="margin-bottom-medium"></div>
				<div class="impact-statement-box medium-impact-color"></div>
				@Timeline.MediumImpact
				<br />
				<div class="margin-bottom-medium"></div>
				<div class="impact-statement-box low-impact-color"></div>
				@Timeline.LowImpact
				<br />
				<div class="margin-bottom-medium"></div>
				<div class="impact-statement-box no-impact-color"></div>
				@Timeline.NoImpact
				<br />
				<div class="margin-bottom-medium"></div>
				<div class="impact-statement-box blueprint-impact-color"></div>
				@Timeline.BlueprintImpact
				<br />
			</div>
			<div id="timeline-tool-clear" class="span-1 margin-bottom-none align-right">
				<a id="timeline-tool-start-over">@Timeline.StartOver</a>
			</div>
			<div class="clear"></div>
		</div>
    	<div class="clear"></div>
	</div>
</div>

@Html.Partial("~/Views/Partials/Resources.cshtml")
@section Scripts {
	<link rel="stylesheet" href="/Content/jquery-ui.min.css">
	<script src="/Scripts/jquery-ui.min.js"></script>
	<script src="/Scripts/require.js"></script>
	<script src="/Scripts/require-config.js"></script>
	<script src="/Scripts/app/timeline-tool.js"></script>
	<!-- Piwik -->
	<script type="text/javascript">
	// var url = window.location.href;
	// var production = (/transformation-intranet/gi).test(url);
	// var _paq = _paq || [];
	// _paq.push(['trackPageView']);
	// _paq.push(['enableLinkTracking']);
	// (function(run) {
	// 	if (!run) return false;
	// 	var u="//stats-int.tpsgc-pwgsc.gc.ca/";
	// 	_paq.push(['setTrackerUrl', u+'piwik.php']);
	// 	_paq.push(['setSiteId', 290]);
	// 	var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
	// 	g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
	// })(production);
	</script>
	<noscript><p><img src="//stats-int.tpsgc-pwgsc.gc.ca/piwik.php?idsite=290" style="border:0;" alt="" /></p></noscript>
	<!-- End Piwik Code -->
}
@Html.Partial("~/Views/Partials/Comments.cshtml")
