@{
    if (Culture == "fr")
    {
        Layout = "~/Views/Shared/_IntraLayoutFra.cshtml";
        ViewBag.lang = "fra";
    }
    else
    {
        Layout = "~/Views/Shared/_IntraLayout.cshtml";
        ViewBag.lang = "eng";
    }
    ViewBag.Title = @Resources.ReportPageTitle;
}

<script>
    $(document).on('pagebeforecreate', function(e) {
        $('label, input, select', e.target).attr('data-role', 'none');
    });
</script>

<link rel="stylesheet" type="text/css" href="~/Content/report.css">

<h1 class="print-none">@ViewBag.Title</h1>

<div class="grid-12">
    <!-- Report type controller -->
    <div class="print-none">
        <div class="span-12 border-all">
            <div class="span-12 margin-bottom-none align-center">
                <form class="margin-bottom-none background-dark">
                    <label class="form-label-inline font-xlarge">@Resources.ReportType</label>
                    <label class="form-radio form-label-inline" for="radio-report-quarterly">
                        <input type="radio" name="radio-report-type" id="radio-report-quarterly" />
                        @Resources.ReportByQuarterly
                    </label>
                    <label class="form-radio form-label-inline" for="radio-report-initiative">
                        <input type="radio" name="radio-report-type" id="radio-report-initiative" />
                        @Resources.ReportByInitiative
                    </label>
                </form>
            </div>
        </div>
        <div id="initiative-container" class="span-12 border-all print-none background-light hide">
            <div class="span-12">
                <form class="margin-bottom-none">
                    <div class="span-6 margin-right-none margin-bottom-none">
                        <label class="form-label-inline font-large">@Resources.ReportSelectTimeline</label>
                        <select name="select-timeline" id="select-initiative-timeline" data-controller-name='@Resources.Timeline'>
                            <option value="0"></option>
                            <option value="All">@Resources.SelectAll</option>
                        </select>
                        <i id="icon-loading-initiative" class="fa fa-spinner fa-spin hide"></i>
                    </div>
                    <div class="span-6 margin-left-none margin-bottom-none">
                        <div id ="initiative" class="hide">
                            <label class="form-label-inline font-large">@Resources.ReportSelectInitiative</label>
                            <select name="select-initiative" id="select-initiative" data-controller-name='@Resources.Initiative'>
                                <option value="0"></option>
                                <option value="All">@Resources.SelectAll</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="quarter-container" class="span-12 border-all print-none background-light hide">
            <div class="span-12 margin-bottom-none">
                <form class="margin-bottom-none">
                    <div class="span-6 margin-right-none">
                        <label class="form-label-inline font-large">@Resources.ReportSelectQuarter</label>
                        <select name="select-quarter" id="select-quarter" data-controller-name='@Resources.Quarter'>
                            <option value="0"></option>
                        </select>
                        <i id="icon-loading-quarter" class="fa fa-spinner fa-spin hide"></i>
                    </div>
                    <div class="span-6 margin-left-none">
                        <label class="form-label-inline font-large">@Resources.ReportSelectTimeline</label>
                        <select name="select-timeline" id="select-quarter-timeline" data-controller-name='@Resources.Timeline'>
                            <option value="0"></option>
                            <option value="All">@Resources.SelectAll</option>
                        </select>
                        <i id="icon-loading-quarter-timeline" class="fa fa-spinner fa-spin hide"></i>
                    </div>
                    <div id="region-branch" class="hide">
                        <div class="span-6 margin-right-none">
                            <label class="form-label-inline font-large">@Resources.SelectYourArea</label>
                            <select name="select-region" id="select-region" data-controller-name='@Resources.Region'>
                                <option value="0">@Resources.SelectAll</option>
                            </select>
                            <i id="icon-loading-region" class="fa fa-spinner fa-spin hide"></i>
                        </div>
                        <div class="span-6 margin-left-none">
                            <label class="form-label-inline font-large">@Resources.SelectYourBranch</label>
                            <select name="select-branch" id="select-branch" data-controller-name='@Resources.Branch'>
                                <option value="0">@Resources.SelectAll</option>
                            </select>
                            <i id="icon-loading-branch" class="fa fa-spinner fa-spin hide"></i>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <button id="print-button" class="button button-attention">@Resources.Print</button>
    </div>

    <div id="report-front-page" class="span-12 border-all">
        <img id="report-header-logo" src="~/Content/images/report-header-logo.png">
        <img id="report-header-purple" src="~/Content/images/report-header-purple.png">
        <p id="report-subtitle"></p>
        <p id="report-title"></p>
        <p id="report-more-info"></p>
        <img id="report-footer" src="~/Content/images/report-footer.png">
    </div>

    <div id="report-container" class="span-12">
        <div class="align-center">
            <i id="icon-loading-report" class="fa fa-spinner fa-spin hide"></i>
        </div>
        <div id="controller-information" class="span-12"></div>
        <div id="report" class="span-12"></div>
    </div>
</div>

<script src="~/Scripts/moment-with-locales.min.js"></script>
<script>
    var resources = (function() {
        var _resourceMap = {
            'high-impact': '@Resources.TimelineHighImpact',
            'medium-impact': '@Resources.TimelineMediumImpact',
            'low-impact': '@Resources.TimelineLowImpact',
            'no-impact': '@Resources.TimelineNoImpact',
            'blueprint': 'This is blueprint (need translation)',
            'description': '@Resources.Description',
            'timespan': '@Resources.Timespan',
            'milestone': '@Resources.Milestone',
            'training': '@Resources.Training',
            'date': '@Resources.Date',
            'initiative': '@Resources.Initiative',
            'type': '@Resources.Type',
            'unused-initiatives': '@Resources.ReportUnusedInitiatives',
            'report-subtitle': '@Resources.ReportPrintCoverPageSubtitle',
            'report-print-initiative-title': '@Resources.ReportPrintCoverPageInitiativeTitle',
            'report-print-quarterly-title': '@Resources.ReportPrintCoverPageQuarterlyTitle',
            'report-print-overview': '@Resources.ReportPrintCoverPageOverview',
            'report-print-all-initiatives': '@Resources.ReportPrintCoverPageAllInitiatives'
        };

        var _getByKey = function(key) {
            return _resourceMap[key];
        }

        return {
            get: _getByKey
        }
    })();
</script>
<script src="~/Scripts/Report/report.js"></script>