@model TransformationTimelineTool.ViewModels.InitiativeIndexData 
@{
    ViewBag.Title = "Subscribe";
    Layout = "~/Views/Shared/_IntraLayout.cshtml";
}

<h2>Subscribe</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


<div class="form-group clearfix">
    <div id="branch_checkbox_container" class="no-margin">
        <strong>@Resources.Initiatives</strong>
        <br />
        @foreach (var init in ViewBag.Initiatives)
        {
            <input type="checkbox"
                   id="select_initiatives_@init.ID"
                   name="selectedInitiatives"
                   value="@init.ID" 
                   @(Html.Raw(init.Flag ? "checked=\"checked\"" : "")) />
            <label class="no-style" for="select_initiatives_@init.ID">@init.Name</label>
            <br />
        }
    </div>

    <div class="form-actions no-color top-margin-10">
        <input type="submit" value="@Resources.Submit" class="btn btn-default" /> |
        @Html.ActionLink( Resources.Home, "Index", new {  lang =  ViewBag.lang}, null)
    </div>
</div>
}

