@model TransformationTimelineTool.ViewModels.EventViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Activity</h4>
    <hr />
    <dl class="">
        <dt>
           Initiative
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.Event.Initiative.NameE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.Initiative.NameE)
        </dd>

        <dt>
            Branches
        </dt>

        <dd>
            @Model.Event.BranchesList
        </dd>

        <dt>
            Regions
        </dt>

        <dd> 
           @Model.Event.RegionsList
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event.LatestEdit.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.LatestEdit.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event.LatestEdit.DisplayDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.LatestEdit.DisplayDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edit.TextE)
        </dt>

        <dd>
            @Html.Raw(Model.Edit.TextE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edit.TextF)
        </dt>

        <dd>
            @Html.Raw(Model.Edit.TextF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edit.HoverE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edit.HoverE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edit.HoverF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edit.HoverF)
        </dd>

        <dt>
           Last Edited
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edit.Date)
        </dd>

        <dt>
            Editor
        </dt>

        <dd>
            @Html.ActionLink(Model.Edit.Editor.UserName, "Details", "Users", new { ID = Model.Edit.EditorID }, null)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Resources.Edit, "Edit", new { id = Model.Event.ID }) |
    @Html.ActionLink(Resources.BackToList, "Index")
</p>
