@model TransformationTimelineTool.Models.Event

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Initiative
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.Initiative.NameE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Initiative.NameE)
        </dd>

        <dt>
            Branch
        </dt>

        <dd>
            @Model.BranchesList
        </dd>

        <dt>
            Region
        </dt>

        <dd> 
           @Model.RegionsList
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TextE)
        </dt>

        <dd>
            @Html.Raw(Model.TextE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TextF)
        </dt>

        <dd>
            @Html.Raw(Model.TextF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoverE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoverE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoverF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoverF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LatestEdit.EditorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LatestEdit.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LatestEdit.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LatestEdit.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
