@model TransformationTimelineTool.Models.Event

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Activity</h4>
    <hr />
    <dl class="">
        <dt>
           Initiative
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.Initiative.NameE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Initiative.NameE)
        </dd>

        <dt>
            Branches
        </dt>

        <dd>
            @Model.BranchesList
        </dd>

        <dt>
            Regions
        </dt>

        <dd> 
           @Model.RegionsList
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TextE)
        </dt>

        <dd>
            @Html.Raw(Model.TextE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TextF)
        </dt>

        <dd>
            @Html.Raw(Model.TextF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoverE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoverE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoverF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoverF)
        </dd>

        <dt>
           Last Edited
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LatestEdit.Date)
        </dd>

        <dt>
            Editor
        </dt>

        <dd>
            @Html.ActionLink(Model.LatestEdit.Editor.UserName, "Details", "Users", new { ID = Model.LatestEdit.EditorID }, null)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LatestEdit.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LatestEdit.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
