@model IEnumerable<TransformationTimelineTool.Models.Event>

@{
    ViewBag.Title = "Index";
}

<h2>Events</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Initiative
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoverE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegionsList)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BranchesList)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LatestEdit.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
  
    <tr> 
        <td>
            @Html.DisplayFor(modelItem => item.Initiative.NameE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoverE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegionsList)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BranchesList)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LatestEdit.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
