@model IEnumerable<TransformationTimelineTool.Models.Event>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Branch.NameShort)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Initiative.NameE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Region.NameShort)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TextE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TextF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoverE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoverF)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Branch.NameShort)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Initiative.NameE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Region.NameShort)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TextE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TextF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoverE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoverF)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
