@model IEnumerable<TransformationTimelineTool.Models.Event>

@{
    ViewBag.Title = "Activities";
}

@section Styles {
    <link href="@Url.Content("~/Content/table.css")" rel="stylesheet" type="text/css" />
}

<h2>Activities</h2>

<div id="legend">
    <img src="~/Images/circle.png" />Milestone <br />
    <img src="~/Images/book.png" />Training <br />
    <span class="green-box image-pretender"></span>Approved <br />
    <span class="yellow-box image-pretender"></span>Pending <br />
    <span class="red-box image-pretender"></span>Created <br />
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Initiative
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoverE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegionsList)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BranchesList)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LatestEdit.Status)
        </th>
        <th class="control-group"></th>
    </tr>

@foreach (var item in Model) {
  
    <tr> 
        <td>
            @Html.DisplayFor(modelItem => item.Initiative.NameE)
        </td>
        <td>
            <img src="@(item.Type == 0 ? "/Images/circle.png" : "/Images/book.png")" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoverE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegionsList)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BranchesList)
        </td>
        <td>
            <span class="image-pretender
                  @((int) item.LatestEdit.Status == 0 ? "red-box" : (int) item.LatestEdit.Status == 1 ? "yellow-box" : "green-box")"></span>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
