@model TransformationTimelineTool.ViewModels.EventViewModel
@using TransformationTimelineTool.Helpers

@{
    ViewBag.Title = Resources.Details;
}

<h2>@Resources.Details</h2>

<div>
    <h4>@Resources.Activity</h4>
    <hr />
    <dl class="">
        <dt>
           @Resources.Initiative
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.Initiative.Name)
        </dd>

        <dt>
            @Resources.Branches
        </dt>

        <dd>
            @Html.Raw(Model.Event.BranchesList)
        </dd>

        <dt>
            @Resources.Regions
        </dt>

        <dd> 
           @Html.Raw(Model.Event.RegionsList)
        </dd>

        <dt>
            @Resources.Type
        </dt>

        <dd>
            @Utils.GetTranslation(Html.DisplayFor(model => model.Event.LatestEdit.Type).ToString())
        </dd>

        <dt>
            @Resources.Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.LatestEdit.DisplayDate)
        </dd>

        <dt>
            @Resources.HoverDescEng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edit.HoverE)
        </dd>

        <dt>
            @Resources.HoverDescFra
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edit.HoverF)
        </dd>

        <dt>
            @Resources.ActivityDetailedDescEng
        </dt>

        <dd>
            @Html.Raw(Model.Edit.TextE)
        </dd>

        <dt>
            @Resources.ActivityDetailedDescFra
        </dt>

        <dd>
            @Html.Raw(Model.Edit.TextF)
        </dd>

        <dt>
           @Resources.LastUpdated
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edit.Date)
        </dd>

        <dt>
            @Resources.LastEditedBy
        </dt>

        <dd>
            @Html.ActionLink(Model.Edit.Editor.UserName, "Details", "Users", new { ID = Model.Edit.EditorID }, null)
        </dd>

        <dt>
            @Resources.Status
        </dt>

        <dd>
            @Utils.GetTranslation(Html.DisplayFor(model => model.Event.Status).ToString())
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Resources.Edit, "Edit", new { id = Model.Event.ID }) |
    @Html.ActionLink(Resources.BackToList, "Index")
</p>
