@using TransformationTimelineTool.Models;
@using TransformationTimelineTool.Helpers;
@model IEnumerable<TransformationTimelineTool.Models.Event>

@if(Culture == "fr")
{
    ViewBag.lang = "fra";
}
else
{
    ViewBag.lang = "eng";
}


@{
    ViewBag.Title = Resources.Activities;
}

@section Styles {
    <link href="@Url.Content("~/Content/table.css")" rel="stylesheet" type="text/css" />
}
<script type="text/javascript" src="/scripts/DataTables/datatables.min.js"></script>

<h2>@Resources.Activities</h2>

<div id="legend">
    <div style="float: left;">
        <img src="~/Images/circle.png" />@Resources.Milestone<br />
        <img src="~/Images/book.png" />@Resources.Training
    </div>
    <div style="float: right;">
        <span class="green-box image-pretender"></span>@Resources.Approved<br />
        <span class="yellow-box image-pretender"></span>@Resources.Pending<br />
        <span class="red-box image-pretender"></span>@Resources.Draft
    </div>
</div>

<div id="dataTableContainer">
    <table class="table hover" id="eventTable">
        <thead>
            <tr>
                <th>
                    @Resources.Initiative
                </th>
                <th>
                    @Resources.Type
                </th>
                <th>
                    @Resources.Date
                </th>
                <th>
                    @Resources.ShortDescription
                </th>
                <th>
                    @Resources.Status
                </th>
                <th class="control-group">
                    @Resources.Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @{ User CurrentUser = Utils.GetCurrentUser(); }
            @foreach (var item in Model)
            {
                if (!HttpContext.Current.User.IsInRole("Admin"))
                {
                    if (item.Creator.ApproverID != CurrentUser.Id)
                    {
                        if (item.CreatorID != CurrentUser.Id)
                        {
                            continue;
                        }
                    }
                }
                <tr> 
                    <td>
                        @Html.DisplayFor(modelItem => item.Initiative.Name)
                    </td>
                    <td>
                        <img src="@(item.LatestEdit.Type == 0 ? "/Images/circle.png" : "/Images/book.png")" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LatestEdit.DisplayDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LatestEdit.Hover)
                    </td>
                    <td>
                        <span class="image-pretender
                              @((int) item.Status == 0 ? "red-box" : (int) item.Status == 1 ? "yellow-box" : "green-box")"></span>
                    </td>
                    <td>
                        <a class="no-link-style" href="@Url.Action("Edit", new { id = item.ID, lang = ViewBag.lang })">
                            <i title="@Resources.Edit" class="fa fa-pencil-square-o fa-2x"></i>
                        </a>
                        <a class="no-link-style" href="@Url.Action("Details", new { id = item.ID, lang = ViewBag.lang })">
                            <i title="@Resources.View" class="fa fa-eye fa-2x"></i>
                        </a>
                        <a class="no-link-style" href="@Url.Action("Delete", new { id = item.ID, lang = ViewBag.lang })">
                            <i title="@Resources.Delete" class="fa fa-times fa-2x"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    // DataTables plugin initialize and setup
    $(document).ready(function () {

        // Set Type & Status column to be searchable
        $("#eventTable img").each(function () {
            var mapper = {
                "circle.png": ['@Resources.Milestone' , 0],
                "book.png": ['@Resources.Training', 1]
            }
            for (key in mapper) {
                if ($(this).attr("src").indexOf(key) > -1) {
                    $(this).parent().attr("data-search", mapper[key][0]);
                    $(this).parent().attr("data-order", mapper[key][1]);
                }
            }
        });
        $("[class*='-box']").each(function () {
            var mapper = {
                "red-box": ['@Resources.Draft', 1],
                "yellow-box": ['@Resources.Pending', 0],
                "green-box": ['@Resources.Approved', 2]
            }
            for (key in mapper) {
                if ($(this).hasClass(key)) {
                    $(this).parent().attr("data-search", mapper[key][0]);
                    $(this).parent().attr("data-order", mapper[key][1]);
                }
            }
        });
        // Initialize the DataTable plugin
        var table = $("#eventTable").DataTable({
            "paging": true,
            "pagingType": "full_numbers",
            "aaSorting": [4, 'asc'],
            "columnDefs": [
                { "orderable": false, "targets": [3, 5] }
            ],
            "dom": '<"create-new">frtl<"absolute-center" p>i',
            "language": {
                "lengthMenu": '@Resources.Show _MENU_ @Resources.Records',
                "search": '<i class="fa fa-search fa-lg" title="Search">&nbsp;',
                "searchPlaceholder": '@Resources.Search',
                "info": '@Resources.Showing _START_ @Resources.to _END_ @Resources.of _TOTAL_ @Resources.entries',
                "paginate": {
                    "first": '<i class="fa fa-angle-double-left fa-lg" title="First">',
                    "previous": '<i class="fa fa-angle-left fa-lg" title="Previous">',
                    "next": '<i class="fa fa-angle-right fa-lg" title="Next">',
                    "last": '<i class="fa fa-angle-double-right fa-lg" title="Last">'
                }
            }
        });

        var createNewButton = "<a href='@Url.Action("Create", new { lang = ViewBag.lang })'>";
        createNewButton += "@Resources.CreateActivity</a>"
        $("div.top-toolbar").html(createNewButton);
        $("div.create-new").html(createNewButton);
        
        var filter = $("input[type='search']");
        filter.attr('data-role', 'none');
    });
</script>
