@model TransformationTimelineTool.Models.Initiative
@using TransformationTimelineTool.Helpers
@{
    ViewBag.Title = Resources.Delete;
}

@if(Culture == "fr")
{
    ViewBag.lang = "fra";
}
else
{
    ViewBag.lang = "eng";
}


<h2>@Resources.Delete</h2>

<h3>@Resources.DeleteConfirm</h3>
<div>
    <h4>@Resources.Initiative</h4>
    <dl class="dl-horizontal">
        <dt>
            @Resources.InitEnglishName
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameE)
        </dd>

        <dt>
            @Resources.InitFrenchName
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameF)
        </dd>

        <dt>
            @Resources.InitEnglishDesc
        </dt>

        <dd>
            @Html.Raw(Model.DescriptionE)
        </dd>


        <dt>
            @Resources.InitFrenchDesc
        </dt>

        <dd>
            @Html.Raw(Model.DescriptionF)
        </dd>

        <dt>
            @Resources.Start
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Resources.End
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Resources.Approver/@Resources.Editor
        </dt>

        <dt>
            @Resources.Activities
        </dt>

        <dd>
            <table class="table table-condensed table-striped">
                <tr>
                    <th>@Resources.Date</th>
                    <th>@Resources.ShortDescription</th>
                    <th>@Resources.Actions</th>
                </tr>
                @foreach (var item in Model.Events)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LatestEdit.DisplayDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LatestEdit.Hover)
                        </td>
                        <td>
                            @Html.ActionLink(Resources.View, "Details", "Activities", new { ID = item.ID, ViewBag.lang }, null) |
                            @Html.ActionLink(Resources.Edit, "Edit", "Activities", new { ID = item.ID, ViewBag.lang }, null)
                        </td>
                    </tr>
                }
            </table>
        </dd>

        <dt>
            @Resources.Impacts
        </dt>

        <dd>
            <table class="table table-condensed table-striped">
                <tr>
                    <th>@Resources.Delete</th>
                    <th>@Resources.Branch</th>
                    <th>@Resources.Region</th>
                    <th>@Resources.Actions</th>
                </tr>
                @foreach (var item in Model.Impacts)
                {
                    <tr>
                        <td>
                            @Utils.GetTranslation(Html.DisplayFor(modelItem => item.Level).ToString())
                        </td>
                        <td>
                            @String.Join(" - ", item.Branches.Select(b => b.NameShort))
                        </td>
                        <td>
                            @String.Join(" - ", item.Regions.Select(b => b.NameShort))
                        </td>
                        <td>
                            @Html.ActionLink(Resources.View, "Details", "Impacts", new { ID = item.ID }, null) |
                            @Html.ActionLink(Resources.Edit, "Edit", "Impacts", new { ID = item.ID }, null)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@Resources.Submit" class="btn btn-default" /> |
            @Html.ActionLink(Resources.BackToList + " " + Resources.OfInitiatives, "Index", new { lang = ViewBag.lang })
        </div>
    }
</div>
