@model TransformationTimelineTool.Models.Initiative

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Initiative</h4>
    <hr />
    <dl class="">
        <dt>
            @Html.DisplayNameFor(model => model.NameE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionE)
        </dt>

        <dd>
            @Html.Raw(Model.DescriptionE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionF)
        </dt>

        <dd>
            @Html.Raw(Model.DescriptionF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Resources.Executives/@Resources.Editors
        </dt>

        <dd>
            <table class="table table-condensed table-striped">
                <tr>
                    <th>@Resources.Region</th>
                    <th>@Resources.Executive</th>
                    <th>@Resources.Editor</th>
                </tr>
                <tr>
                    <td>@Resources.NCA</td>
                    <td>@Html.ActionLink(Model.NCAExec.UserName, "Edit", "Users", new { id = Model.NCAExecID }, null)</td>
                    <td>@if (Model.NCAEditorID != null) { @Html.ActionLink(Model.NCAEditor.UserName, "Edit", "Users", new { ID = Model.NCAEditorID }, null); }</td>
                </tr>
                <tr>
                    <td>@Resources.Pacific</td>
                    <td>@Html.ActionLink(Model.PacExec.UserName, "Edit", "Users", new { id = Model.PacExecID }, null)</td>
                    <td>@if (Model.PacEditorID != null) { @Html.ActionLink(Model.PacEditor.UserName, "Edit", "Users", new { ID = Model.PacEditorID }, null); }</td>
                </tr>
                <tr>
                    <td>@Resources.Western</td>
                    <td>@Html.ActionLink(Model.WstExec.UserName, "Edit", "Users", new { id = Model.WstExecID }, null)</td>
                    <td>@if (Model.WstEditorID != null) { @Html.ActionLink(Model.WstEditor.UserName, "Edit", "Users", new { ID = Model.WstEditorID }, null); }</td>
                </tr>
                <tr>
                    <td>@Resources.Ontario</td>
                    <td>@Html.ActionLink(Model.OntExec.UserName, "Edit", "Users", new { id = Model.OntExecID }, null)</td>
                    <td>@if (Model.OntEditorID != null) { @Html.ActionLink(Model.OntEditor.UserName, "Edit", "Users", new { ID = Model.OntEditorID }, null); }</td>
                </tr>
                <tr>
                    <td>@Resources.Quebec</td>
                    <td>@Html.ActionLink(Model.QueExec.UserName, "Edit", "Users", new { id = Model.QueExecID }, null)</td>
                    <td>@if (Model.QueEditorID != null) { @Html.ActionLink(Model.QueEditor.UserName, "Edit", "Users", new { ID = Model.QueEditorID }, null); }</td>
                </tr>
                <tr>
                    <td>@Resources.Atlanta</td>
                    <td>@Html.ActionLink(Model.AtlExec.UserName, "Edit", "Users", new { id = Model.AtlExecID }, null)</td>
                    <td>@if (Model.AtlEditorID != null) { @Html.ActionLink(Model.AtlEditor.UserName, "Edit", "Users", new { ID = Model.AtlEditorID }, null); }</td>
                </tr>
            </table>
        </dd>

        <dt>
            @Resources.Events
        </dt>

        <dd>
            <table class="table table-condensed table-striped">
                <tr>
                    <th class="col-md-2">@Resources.Date</th>
                    <th class="">Hover</th>
                    <th class="col-md-2">Action</th>
                </tr>
                @foreach( var item in Model.Events)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoverE)
                        </td>
                        <td>
                            @Html.ActionLink(Resources.View, "Details", "Events", new { ID = item.ID }, null) | 
                            @Html.ActionLink(Resources.Edit, "Edit", "Events", new { ID =  item.ID }, null)
                        </td>
                    </tr>
                }
                <tr>
                    <td>
                        @Html.ActionLink("Create Event", "Create", "Events", new { ID = Model.ID }, null)
                    </td>
                </tr>
            </table>
        </dd>

        <dt>
            @Html.DisplayNameFor(Model => Model.Impacts)
        </dt>

        <dd>
            <table class="table table-condensed table-striped">
                <tr>
                    <th>Level</th>
                    <th>@Resources.Branch</th>
                    <th>@Resources.Region</th>
                    <th></th>
                </tr>
                @foreach (var item in Model.Impacts)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Level)
                        </td>
                        <td>
                            @String.Join(" - ", item.Branches.Select(b => b.NameShort))
                        </td>
                        <td>
                            @String.Join(" - ", item.Regions.Select(b => b.NameShort))
                        </td>
                        <td>
                            @Html.ActionLink(Resources.View, "Details", "Impacts", new { ID = item.ID }, null) | 
                            @Html.ActionLink(Resources.Edit, "Edit", "Impacts", new { ID = item.ID }, null)
                        </td>
                    </tr>
                }
                <tr>
                    <td>
                        @Html.ActionLink("Create Impact", "Create", "Impacts", new { ID = Model.ID }, null)
                    </td>
                </tr>
            </table>
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink(Resources.Edit, "Edit", new { id = Model.ID }) |
    @Html.ActionLink(Resources.BackToList, "Index")
</p>



<!-- <input name="btnGetMovies" id="btnGetMovies" type="submit" value="Get Movies">-->
<ul id="movieList"></ul>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">
    $("#btnGetMovies").click(function () {
        var actionUrl = '@Url.Action("Data")';
        alert("hello world!");
        $.getJSON(actionUrl, displayData);
    });

    function displayData(response) {
        if (response != null) {
            for (var i = 0; i < response.length; i++) {
                $("#movieList").append("<li>" + response[i].Title + " " + response[i].Genre + " " + response[i].Year + "</li>")
            }
        }
    }
</script>