@model TransformationTimelineTool.Models.Initiative

@{
    ViewBag.Title = "Details";
}

@section Styles {
    <link href="@Url.Content("~/Content/table.css")" rel="stylesheet" type="text/css" />
}


<h2>@Html.DisplayFor(model => model.Name) </h2>
    <hr />
<h4>@Resources.Description</h4>
@Html.Raw(Model.Description)

<h4>@Resources.Start</h4>
<p>@Html.DisplayFor(model => model.StartDate)</p>

<h4>@Resources.End</h4>
<p>@Html.DisplayFor(model => model.EndDate)</p>

<h4>@Resources.Activities</h4>
<p>@Html.ActionLink(Resources.Create + " " + Resources.Activity, "Create", "Events", new { ID = Model.ID }, null)</p>
            <table class="table table-condensed table-striped">
                <tr>
                    <th class="col-md-2">@Resources.Date</th>
                    <th class="">Hover</th>
                    <th class="col-md-2">Action</th>
                </tr>
                @foreach (var item in Model.Events)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LatestEdit.DisplayDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LatestEdit.Hover)
                        </td>
                        <td>
                            @Html.ActionLink(Resources.View, "Details", "Events", new { ID = item.ID }, null) |
                            @Html.ActionLink(Resources.Edit, "Edit", "Events", new { ID = item.ID }, null)
                        </td>
                    </tr>
                }
                <tr>
            </table>

<h4>@Html.DisplayNameFor(Model => Model.Impacts)</h4>
<p>@Html.ActionLink(Resources.Create + " " + Resources.Impact, "Create", "Impacts", new { ID = Model.ID }, null)</p>
            <table class="table table-condensed table-striped">
                <tr>
                    <th>@Resources.Level</th>
                    <th>@Resources.Branch</th>
                    <th>@Resources.Region</th>
                    <th></th>
                </tr>
                @foreach (var item in Model.Impacts)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Level)
                        </td>
                        <td>
                            @Html.Raw(item.BranchesList)
                        </td>
                        <td>
                            @Html.Raw(item.RegionsList)
                        </td>
                        <td>
                            @Html.ActionLink(Resources.View, "Details", "Impacts", new { ID = item.ID }, null) |
                            @Html.ActionLink(Resources.Edit, "Edit", "Impacts", new { ID = item.ID }, null)
                        </td>
                    </tr>
                }
            </table>

<h4>@Html.DisplayNameFor(Model => Model.Users)</h4>
            <table class="table table-condensed table-striped">
                <tr>
                    <th>@Resources.UserName</th>
                    <th>@Resources.Email</th>
                    <th></th>
                </tr>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => user.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.Email)
                        </td>
                        <td>
                            @Html.ActionLink(Resources.View, "Details", "Users", new { ID = user.Id }, null) |
                            @Html.ActionLink(Resources.Edit, "Edit", "Users", new { ID = user.Id }, null)
                        </td>
                    </tr>
                }
            </table>

<p>
    @if(HttpContext.Current.User.IsInRole("Admin"))
    {
        @Html.ActionLink(Resources.Edit, "Edit", new { id = Model.ID }) @:|
    }
    @Html.ActionLink(Resources.BackToList, "Index")
</p>