@using TransformationTimelineTool.Helpers;
@model TransformationTimelineTool.ViewModels.InitiativeIndexData

@{
    ViewBag.Title = Resources.Initiative;
    ViewBag.isAdmin = HttpContext.Current.User.IsInRole("Admin");
}

@section Styles {
    <link href="@Url.Content("~/Content/table.css")" rel="stylesheet" type="text/css" />
}

<h2>Initiatives</h2>

@if (ViewBag.isAdmin)
{
    <p>
        @Html.ActionLink(Resources.Create, "Create")
    </p>
}
<table class="table">
    <tr>
        <th>@Resources.Name</th>
        <th class="fix-6em">@Resources.Start</th>
        <th class="fix-6em">@Resources.End</th>
        <th class="control-group"></th>
    </tr>

    @foreach (var item in Model.Initiatives)
    {
        string selectedRow = "";
        if (item.ID == ViewBag.InitiativeID)
        {
            selectedRow = "success";
        }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @if (ViewBag.isAdmin)
                {
                    @Html.ActionLink(Resources.Edit, "Edit", new { id = item.ID }) @:|
                    @Html.ActionLink(Resources.Details, "Details", new { id = item.ID }) @:|
                    @Html.ActionLink(Resources.Delete, "Delete", new { id = item.ID })
                }
                else
                {
                    @Html.ActionLink(Resources.Details, "Details", new { id = item.ID })
                }
            </td>
        </tr>
    }

</table>
