@using TransformationTimelineTool.Helpers;
@model TransformationTimelineTool.ViewModels.InitiativeIndexData

@if(Culture == "fr")
{
    ViewBag.lang = "fra";
}
else
{
    ViewBag.lang = "eng";
}


@{
    ViewBag.Title = Resources.Initiatives;
    ViewBag.isAdmin = HttpContext.Current.User.IsInRole("Admin");
}

@section Styles {
    <link href="@Url.Content("~/Content/table.css")" rel="stylesheet" type="text/css" />
}

<h2>@Resources.Initiatives</h2>
@Html.Raw(Resources.ContactAdminToAddInit)
@if (ViewBag.isAdmin)
{
    <p>
        @Html.ActionLink(Resources.CreateInitiative, "Create", new { lang = ViewBag.lang })
    </p>
}
<table class="table">
    <tr>
        <th>@Resources.Timeline</th>
        <th>@Resources.Name</th>
        <th class="fix-6em">@Resources.Start</th>
        <th class="fix-6em">@Resources.End</th>
        <th class="control-group">@Resources.Actions</th>
    </tr>

    @foreach (var item in Model.Initiatives)
    {
        string selectedRow = "";
        if (item.ID == ViewBag.InitiativeID)
        {
            selectedRow = "success";
        }
        <tr class="@selectedRow">
            <td>
                @if (item.Timeline == "BP2020")
                {
                    @Resources.ReportTimelineBP2020
                } else
                {
                    @Resources.ReportTimelineTransformation
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @if (ViewBag.isAdmin)
                {
                    <a class="no-link-style" href="@Url.Action("Edit", "Initiatives", new { id = item.ID, lang = ViewBag.lang })">
                        <i title="@Resources.Edit" class="fa fa-pencil-square-o fa-2x"></i>
                    </a>
                    <a class="no-link-style" href="@Url.Action("Details", "Initiatives", new { id = item.ID, lang = ViewBag.lang })">
                        <i title="@Resources.View" class="fa fa-eye fa-2x"></i>
                    </a>
                    <a class="no-link-style" href="@Url.Action("Delete", "Initiatives", new { id = item.ID, lang = ViewBag.lang })">
                        <i title="@Resources.Delete" class="fa fa-times fa-2x"></i>
                    </a>
                }
                else
                {
                    <a class="no-link-style" href="@Url.Action("Details", "Initiatives", new { id = item.ID, lang = ViewBag.lang })">
                        <i title="@Resources.View" class="fa fa-eye fa-2x"></i>
                    </a>
                }
            </td>
        </tr>
    }

</table>
@*@if (ViewBag.isAdmin)
{
    <p>
        @Html.ActionLink(Resources.UpdateReport, "Report", new { lang = ViewBag.lang })
    </p>
}*@