@model TransformationTimelineTool.ViewModels.InitiativeIndexData

@{
    ViewBag.Title = "Initiatives";
}

<h2>Initiatives</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Start</th>
        <th>End</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Initiatives)
    {
        string selectedRow = "";
        if (item.ID == ViewBag.InitiativeID)
        {
            selectedRow = "success";
        }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.NameE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.ActionLink("Select", "Index", new { id = item.ID }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

@if (Model.Events != null)
{
    <h3>
        Events Associated with Selected Initiative
    </h3>
    <table class="table">
        <tr>
            <th>Date</th>
            <th>Text</th>
            <th></th>
        </tr>
        @foreach (var item in Model.Events)
        {
            <tr>
                <td>
                    @item.Date
                </td>
                <td>
                    @item.Text
                </td>
                <td>
                    @Html.ActionLink("View", "Details", "Events", new { ID = item.ID }, null)
                    @Html.ActionLink("Edit", "Edit", "Events", new { ID = item.ID }, null)
                    @Html.ActionLink("Delete", "Delete", "Events", new { ID = item.ID }, null)
                </td>
            </tr>
        }
    </table>
}
