@using TransformationTimelineTool.Helpers;
@model TransformationTimelineTool.ViewModels.InitiativeIndexData

@{
    ViewBag.Title = Resources.Initiative;
    ViewBag.isAdmin = HttpContext.Current.User.IsInRole("Admin");
}

@section Styles {
    <link href="@Url.Content("~/Content/table.css")" rel="stylesheet" type="text/css" />
}

<h2>Initiatives</h2>

@if (ViewBag.isAdmin)
{
    <p>
        @Html.ActionLink(Resources.Create, "Create")
    </p>
}
<table class="table">
    <tr>
        <th>@Resources.Name</th>
        <th class="fix-6em">@Resources.Start</th>
        <th class="fix-6em">@Resources.End</th>
        <th class="control-group"></th>
    </tr>

    @foreach (var item in Model.Initiatives)
    {
        string selectedRow = "";
        if (item.ID == ViewBag.InitiativeID)
        {
            selectedRow = "success";
        }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @if (ViewBag.isAdmin)
                {
                    @Html.ActionLink(Resources.Edit, "Edit", new { id = item.ID }) @:|
                    @Html.ActionLink(Resources.Details, "Details", new { id = item.ID }) @:|
                    @Html.ActionLink(Resources.Delete, "Delete", new { id = item.ID })
                }
                else
                {
                    @Html.ActionLink(Resources.Details, "Details", new { id = item.ID })
                }
            </td>
        </tr>
    }

</table>

@if (Model.Events != null)
{
    <h3>
        Events Associated with Selected Initiative
    </h3>
    <table class="table">
        <tr>
            <th>@Resources.Date</th>
            <th>@Resources.Text</th>
            <th>Status</th>
            <th></th>
        </tr>
        @foreach (var item in Model.Events)
        {
            <tr>
                <td>
                    @item.Date.ToShortDateString()
                </td>
                <td>
                    @item.HoverE
                </td>
                <td>
                    @item.LatestEdit.Status
                </td>
                <td>
                    @Html.ActionLink(Resources.View, "Details", "Events", new { ID = item.ID }, null) |
                    @Html.ActionLink(Resources.Edit, "Edit", "Events", new { ID = item.ID }, null) |
                    @Html.ActionLink(Resources.Delete, "Delete", "Events", new { ID = item.ID }, null)
                </td>
            </tr>
        }
        <tr>
            <td>
                @Html.ActionLink("Create Event", "Create", "Events", new { ID = ViewContext.RouteData.Values["id"] }, null)
            </td>
        </tr>
    </table>
}

@if (Model.Impacts != null)
{
    <h3>
        Impacts Associated with Selected Initiative
    </h3>
    <table class="table">
        <tr>
            <th>Level</th>
            <th>Branches</th>
            <th>Regions</th>
            <th></th>
        </tr>
        @foreach (var item in Model.Impacts)
        {
            <tr>
                <td>
                    @item.Level
                </td>
                <td>
                    @item.BranchesList
                </td>
                <td>
                    @item.RegionsList
                </td>

                <td>
                    @Html.ActionLink(Resources.View, "Details", "Impacts", new { ID = item.ID }, null) |
                    @Html.ActionLink(Resources.Edit, "Edit", "Impacts", new { ID = item.ID }, null) |
                    @Html.ActionLink(Resources.Delete, "Delete", "Impacts", new { ID = item.ID }, null)
                </td>
            </tr>
        }
        @if (ViewBag.isAdmin)
        {
            <tr>
                <td>
                    @Html.ActionLink("Create Impact", "Create", "Impacts", new { ID = ViewContext.RouteData.Values["id"] }, null)
                </td>
            </tr>
        }
    </table>
}
