@using Microsoft.AspNet.Identity.EntityFramework;
@model TransformationTimelineTool.ViewModels.UserViewModel

@{
    ViewBag.Title = "Create";
}

<h2>@Resources.CreateNew</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="">
        <h4>User</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       
        <div class="form-group">
            @Html.LabelFor(model => model.User.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.User.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 text-right"><strong>Initiatives</strong></div>
            <div class="col-md-offset-2 col-md-10">
                <table>
                    <tr>
                        @{
                            int cnt = 0;

                            foreach (var initiative in Model.Initiatives)
                            {
                                if (cnt++ % 3 == 0)
                                {
                                    @:</tr><tr>
                               }
                                @:<td>
                                    <input type="checkbox"
                                           name="selectedInitiatives"
                                           value="@initiative.ID" />
                                        @initiative.Name
                                        @:</td>
                           }
                        }
                    </tr>
                </table>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 text-right"><strong>Roles</strong></div>
            <div class="col-md-offset-2 col-md-10">
                <table>
                    <tr>
                        @{
                            int cnt2 = 0;

                            foreach (var role in Model.Roles)
                            {
                                if (cnt2++ % 3 == 0)
                                {
                                    @:</tr><tr>
                               }
                                @:<td>
                                    <input type="checkbox"
                                           name="selectedRoles"
                                           value="@role.Name" />
                                        @role.Name
                                        @:</td>
                           }
                        }
                    </tr>
                </table>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
            @Html.LabelFor(model => model.User.ApproverID, "ApproverID", htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.DropDownListFor(model => model.User.ApproverID, Model.ApproverSelect, "")
                @Html.ValidationMessageFor(model => model.User.ApproverID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Resources.Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $('#selectAllRegions').click(function () {
                if ($(this).prop("checked")) {
                    $('input[name="selectedRegions"]').prop("checked", false);
                } else {
                    $('input[name="selectedRegions"]').prop("checked", true);
                }
            });

            $('#selectAllBranches').click(function () {
                if ($(this).prop("checked")) {
                    $('input[name="selectedBranches"]').prop("checked", false);
                } else {
                    $('input[name="selectedBranches"]').prop("checked", true);
                }
            });
        });
    </script>
}
