@model TransformationTimelineTool.Models.User

@{
    ViewBag.Title = Resources.Delete;
}

@if(Culture == "fr")
{
    ViewBag.lang = "fra";
}
else
{
    ViewBag.lang = "eng";
}
<h2>@Resources.Delete</h2>

<h3>@(Resources.DeleteConfirm + " " + Resources.User.ToLower() + "?")</h3>
<div>
    <h4>@Resources.User</h4>
    <dl class="dl-horizontal">
        <dt>
            @Resources.UserName
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Resources.Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="@Resources.Submit" class="btn btn-default" /> |
            @Html.ActionLink(Resources.BackToList + " " + Resources.OfUsers, "Index", new { lang = ViewBag.lang })
        </div>
    }
</div>
