@model TransformationTimelineTool.Models.User

@{
    ViewBag.Title = Resources.Delete;
}

@if(Culture == "fr")
{
    ViewBag.lang = "fra";
}
else
{
    ViewBag.lang = "eng";
}
<h2>@Resources.Delete</h2>

<h3>@Resources.DeleteConfirm</h3>
<div>
    <h4>@Resources.User</h4>
    <dl class="dl-horizontal">
        <dt>
            @Resources.UserName
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Resources.Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Resources.Region
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region.Name)
        </dd>

        <dt>
            @Resources.Initiatives
        </dt>

        <dd>
            @Html.Raw(String.Join("<br />", Model.Initiatives.Select(init => init.Name)))
        </dd>

        <dt>
            @Resources.Roles
        </dt>

        <dd>
            @ViewBag.Roles
        </dd>

        <dt>
            @Resources.Approver
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approver.UserName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="@Resources.Submit" class="btn btn-default" /> |
            @Html.ActionLink(Resources.BackToList + " " + Resources.OfUsers, "Index", new { lang = ViewBag.lang })
        </div>
    }
</div>
