@model TransformationTimelineTool.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.UserName)</h2>
<hr />

<h4>@Html.DisplayNameFor(model => model.Email)</h4>
<p>@Html.DisplayFor(model => model.Email)</p>
<h4>Regions</h4>
<p>@Model.RegionsList</p>
<h4>Branches</h4>
<p>@Model.BranchesList</p>
<h4>Roles</h4>
<p>@ViewBag.Roles</p>

<p>
    @if (HttpContext.Current.User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) @:|

    }
    @Html.ActionLink("Back to List", "Index")
</p>
