@model TransformationTimelineTool.Models.User

@{
    ViewBag.Title = Resources.Details;
}

@if(Culture == "fr")
{
    ViewBag.lang = "fra";
}
else
{
    ViewBag.lang = "eng";
}

<h2>@Html.DisplayFor(model => model.UserName)</h2>
<hr />

<h4>@Resources.Email</h4>
<p>@Html.DisplayFor(model => model.Email)</p>
<h4>@Resources.Initiatives</h4>
<p>
    @Html.Raw(String.Join("<br />", Model.Initiatives.Select(init => init.Name)))
</p>
<h4>@Resources.Roles</h4>
<p class="roleContainer">@ViewBag.Roles</p>

<p>
    @if (HttpContext.Current.User.IsInRole("Admin"))
    {
        @Html.ActionLink(Resources.Edit, "Edit", new {lang = ViewBag.lang, id = Model.Id }) @:|

    }
    @Html.ActionLink(Resources.BackToList, "Index", new {lang = ViewBag.lang})
</p>
<script>
$(document).ready(function () {
    if (window.location.href.indexOf('fr') > -1) {
        var roles = $(".roleContainer");
        var result = roles.text().replace('Editor', '@Resources.Editor');
        result = result.replace('Admin', '@Resources.Admin');
        result = result.replace('Approver', '@Resources.Approver');
        roles.html(result);
    }
});
</script>