@model TransformationTimelineTool.Models.User

@{
    ViewBag.Title = Resources.Details;
}

<h2>@Html.DisplayFor(model => model.UserName)</h2>
<hr />

<h4>@Resources.Email</h4>
<p>@Html.DisplayFor(model => model.Email)</p>
<h4>@Resources.Roles</h4>
<p>@ViewBag.Roles</p>

<p>
    @if (HttpContext.Current.User.IsInRole("Admin"))
    {
        @Html.ActionLink(Resources.Edit, "Edit", new { id = Model.Id }) @:|

    }
    @Html.ActionLink(Resources.BackToList, "Index")
</p>
