@model IEnumerable<TransformationTimelineTool.Models.User>

@if(Culture == "fr")
{
    ViewBag.lang = "fra";
}
else
{
    ViewBag.lang = "eng";
}

@{
    ViewBag.Title = Resources.Users;
    ViewBag.isAdmin = HttpContext.Current.User.IsInRole("Admin");
}

@section Styles {
    <link href="@Url.Content("~/Content/table.css")" rel="stylesheet" type="text/css" />
}

<h2>@Resources.Users</h2>

@if (ViewBag.isAdmin)
{
    <p>
        @Html.ActionLink(Resources.CreateUser, "Create", new { lang = ViewBag.lang })
    </p>
}

<table class="table">
    <tr>
        <th>
            @Resources.UserName
        </th>
        <th>
            @Resources.Email
        </th>
        <th class="control-group">
            @Resources.Actions
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @if (ViewBag.isAdmin)
            {
                <a class="no-link-style" href="@Url.Action("Edit", "Users", new {lang = ViewBag.lang, id = item.Id })">
                    <i title="@Resources.Edit" class="fa fa-pencil-square-o fa-2x"></i>
                </a>
                <a class="no-link-style" href="@Url.Action("Details", "Users", new {lang = ViewBag.lang, id = item.Id })">
                    <i title="@Resources.View" class="fa fa-eye fa-2x"></i>
                </a>
                <a class="no-link-style" href="@Url.Action("Delete", "Users", new {lang = ViewBag.lang, id = item.Id })">
                    <i title="@Resources.Delete" class="fa fa-times fa-2x"></i>
                </a>
            }
            else
            {
                <a class="no-link-style" href="@Url.Action("Details", "Users", new {lang = ViewBag.lang, id = item.Id })">
                    <i title="@Resources.View" class="fa fa-eye fa-2x"></i>
                </a>
            }
        </td>
    </tr>
}

</table>