@model IEnumerable<TransformationTimelineTool.Models.User>

@{
    ViewBag.Title = "Index";
    ViewBag.isAdmin = HttpContext.Current.User.IsInRole("Admin");
}

@section Styles {
    <link href="@Url.Content("~/Content/table.css")" rel="stylesheet" type="text/css" />
}

<h2>@Resources.Users</h2>

@if (ViewBag.isAdmin)
{
    <span class="create-new">
        <a class="" href='@Url.Action("Create", "Users")'>@Resources.CreateNew</a>
    </span>
}

<table class="table">
    <tr>
        <th>
            @Resources.UserName
        </th>
        <th>
            @Resources.Email
        </th>
        <th class="control-group"></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @if (ViewBag.isAdmin)
            {
                <a class="no-link-style" href="@Url.Action("Edit", "Users", new { id = item.Id })">
                    <i title="@Resources.Edit" class="fa fa-pencil-square-o fa-2x"></i>
                </a>
                <a class="no-link-style" href="@Url.Action("Details", "Users", new { id = item.Id })">
                    <i title="@Resources.Details" class="fa fa-eye fa-2x"></i>
                </a>
                <a class="no-link-style" href="@Url.Action("Delete", "Users", new { id = item.Id })">
                    <i title="@Resources.Delete" class="fa fa-times fa-2x"></i>
                </a>
            }
            else
            {
                <a class="no-link-style" href="@Url.Action("Details", "Users", new { id = item.Id })">
                    <i title="@Resources.Details" class="fa fa-eye fa-2x"></i>
                </a>
            }
        </td>
    </tr>
}

</table>
@if (ViewBag.isAdmin)
{
    <span class="create-new">
        <a class="" href='@Url.Action("Create", "Users")'>@Resources.CreateNew</a>
    </span>
}